body {
    color: rgba(0, 0, 0, 1);
    font-family: 'Open Sans', sans-serif;

}

h1{
    font-size: 80px;
    font-weight:bold;
    color: rgb(255, 255, 255);
    margin-top: 5%;
    margin-left: 4%;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.83);
    text-align: center;
    font-family: 'Open Sans', sans-serif;;

}

h2{
    font-size:25px;
    /*margin-top: 20px;*/
    /*padding-left: 17%;*/
    /*padding-right: 17%;*/
    color: #000000;
    opacity: 1;
    text-shadow: 0 0 1px rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;

}


h3{
    font-weight:bold;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size:40px;
    margin-top: -15%;
    margin-bottom: 2.5%;
    color: rgba(0, 0, 0, 0.95);
    text-shadow: 0 0 1px rgba(255, 255, 255, 1);
}

h4{
    font-weight: bold;
}

h5{
    font-weight:bold;
    text-align: justify;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.95);
}

p{
    font-size: 18px;
    display: inline;
    color:black;
    font-family: 'Open Sans', sans-serif;
}


.credit {
    font-size:14px;
    margin-top:0px;
    color: white;
    text-shadow: 0 0 4px black;
    display:block;
    position:absolute;
    right: 1%;
    bottom: 0px;
    align-content: right
}


.front-background-img {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display : block;
    /*padding: 20px;*/
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    background: url(../img/benton.jpg) no-repeat center center fixed;
}

.background-fullscreen-setting {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#cloud {
    z-index: 3000;
    width: 100%;
    height: 120px;
    position: relative;
    cursor: pointer;
    color: rgba(15, 15, 15, 0.87);
}

@media (min-width: 768px) {
    .main {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;
    }

    .sidebar {
        position: fixed;
        left: 5%;
        right: 5%;
        bottom: 0;
        cursor: pointer;
        z-index:1000;
        color: rgba(15, 15, 15, 0.87);
        background-color: rgba(0, 0, 0, 0.31);
        border-radius: 5px;
        text-shadow: 0 0 1px rgba(197, 197, 197, 0.95);
        border-color: rgba(0,0,0,0);
    }

}

@media (min-width: 0px) and (max-width: 767px) {
    .main {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        display: table-cell;
        /*padding: 20px;*/
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;
    }

    .sidebar {
        bottom: 0;
        cursor: pointer;
        z-index:1000;
        background-color: #f5f5f5;
        color: rgba(255, 255, 255, 0.6);
        border-radius: 3px;
        text-shadow: 0 0 6px rgba(197, 197, 197, 0.95);
        border-color: rgba(0,0,0,0);

    }
}



.clickable{
    cursor: pointer;
    margin-top: -20px;
    font-size: 15px;

}